body {
  margin: 0;
  padding: 40px;
  font-family: sans-serif;
}

.ant-form-item-control-wrapper {
	width: 600px;
}

.dynamic-delete-button {
	cursor: pointer;
}

.dynamic-delete-button:hover {
	color: #f04134;
}